body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

#word {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

input[type="text"] {
    width: calc(100% - 90px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px; /* Add some bottom margin to separate from the button */
}

button {
    width: 80px;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}


button:hover {
    background-color: #45a049;
}

p#result {
    text-align: center;
    color: #333;
    font-size: 18px;
    margin-top: 10px;
}

p#score {
    text-align: center;
    color: #333;
    font-size: 18px;
    margin-top: 20px;
}
